$black: #000;
$white: #fff;
$dark_white: #f2f2f2;
$primary: #191c24;
$btn_bg: $primary;
$logo_bg: #e8d92c;
$header: #092a48;
$dark_text: #6c7293;
$shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.1);
$shadow_hover: rgba(30, 24, 74, 0.5);
$light_bg: #191c24;
$gold_bg: #152f8c;
$banksSec: #e7e7e7;
$signin_bg: #11279d;
$signin_inner_bg: #1808b4;
$gr5: #16a3fe;
$gr6: #41faa4;
$border: #dae4ff;
$shadow_btn: 0px 1px 10px 0px rgba(0, 0, 0, 0.1);
$logout: #ff0000;
$light_border: #778899;
/* MEDIA SCREEN

    @media screen and (max-width: 400px) {

    }
      @media screen and (min-width: 576px) {

    }
      @media screen and (min-width: 768px) {

    }
      @media screen and (min-width: 992px) {

    }
      @media screen and (min-width: 1200px) {

    }
*/
